<element name="edit-mode" extends="form">
  <template>
     <section role="region">
       <gaia-header id="edit-mode-header">
          <h1 id="header-edit-mode-text" data-l10n-id="tcl-edit-not-selected"></h1>
          <button id="delete-button" data-l10n-id="delete" disabled>Delete</button>
       </gaia-header>
     </section>
     <menu>
       <button id="deselect-all-threads" class="edit-button" disabled data-l10n-id="calllog-none">Deselect all</button>
       <button id="select-all-threads" class="edit-button" data-l10n-id="calllog-all">Select all</button>
     </menu>
  </template>
</element>
