<element name="hotspot" extends="section">
  <template>
    <gaia-header>
      <h1 data-l10n-id="internetSharing-header" data-href="#root"></h1>
    </gaia-header>
    <div id="hotspot-wifi">
      <header id='wifi-hotspot-header'>
        <h2 data-l10n-id="internetSharing-wifi"></h2>
      </header>
      <ul role="menu">
        <li role="menuitem" id="wifi-hotspot" class="auto-height">
          <span data-l10n-id="wifi-hotspot"></span>
          <div class="button icon icon-dialog">
            <select data-value-type="boolean">
              <option data-l10n-id="on" value="true"></option>
              <option data-l10n-id="off" value="false"></option>
            </select>
          </div>
          <p data-l10n-id="internetSharing-wifi-desc" class="description"></p>
        </li>
      </ul>

      <ul id='wifi-hotspot-prop'>
        <li role="menuitem" class="none-select">
          <span data-l10n-id="wifi-name"></span>
          <small id="network-name-desc"></small>
        </li>
        <li role="menuitem" class="none-select">
          <span data-l10n-id="wifi-security"></span>
          <small id="wifi-security-desc"></small>
        </li>
        <li role="menuitem" class="none-select wifi-password">
          <span data-l10n-id="wifi-password"></span>
          <small id="wifi-password-desc"></small>
        </li>
        <li role="menuitem" id="hotspot-settings-section">
          <a class="menu-item" href="#" data-l10n-id="hotspotSettings"></a>
        </li>
      </ul>

      <header id='usb-tethering-header'>
        <h2 data-l10n-id="internetSharing-usb"></h2>
      </header>
      <ul role="menu">
        <li role="menuitem" id="usb-tethering" class="auto-height">
          <span data-l10n-id="usb-tethering"></span>
          <div class="button icon icon-dialog">
            <select data-value-type="boolean">
              <option data-l10n-id="on" value="true"></option>
              <option data-l10n-id="off" value="false"></option>
            </select>
          </div>
          <p data-l10n-id="internetSharing-usb-desc" class="description"></p>
        </li>
      </ul>
    </div>

    <panel data-path="panels/hotspot/panel"></panel>

  </template>
</element>
