<element name="root" extends="section">
  <template>

    <gaia-header>
      <h1 data-l10n-id="settings"></h1>
    </gaia-header>

    <gaia-tabs id="root-tab" class="h3" underline="child" selected="0" position="top">
      <a><span data-l10n-id="networkAndConnectivity"></span></a>
      <a><span data-l10n-id="personalization"></span></a>
      <a><span data-l10n-id="privacyAndSecurity"></span></a>
      <a><span data-l10n-id="storage"></span></a>
      <a><span data-l10n-id="device"></span></a>
      <a><span data-l10n-id="accounts"></span></a>
    </gaia-tabs>

    <div class="root">
      <div class="content">
        <header>
          <h2 role="heading" data-l10n-id="networkAndConnectivity"></h2>
        </header>
        <ul role="menu">
          <li role="menuitem">
            <a id="menuItem-airplaneMode" class="menu-item" href="#airplane-mode">
              <span data-l10n-id="airplaneMode"></span>
              <small id="airplaneMode-desc" class="menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem" id="data-connectivity" data-category="connectivity" aria-disabled="true">
            <a id="menuItem-mobileNetworkAndData" class="menu-item">
              <span data-l10n-id="cellularAndData"></span>
              <small id="mobilenetworkanddata-desc" class="menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem" data-category="connectivity" id="connectivity-wifi">
            <a id="menuItem-wifi" class="menu-item" href="#wifi">
              <span data-l10n-id="wifi"></span>
              <small id="wifi-desc" class="menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem">
            <a class="menuItem-bluetooth menu-item" href="#bluetooth">
              <span data-l10n-id="bluetooth"></span>
              <small class="bluetooth-desc menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem" hidden>
            <a id="menuItem-nfc" class="menu-item" href="#nfc">
              <span data-l10n-id="nfc"></span>
              <small id="nfc-desc" class="menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem">
            <a id="menuItem-geolocation" class="menu-item" href="#geolocation">
              <span data-l10n-id="geolocation"></span>
              <small id="geolocation-desc" class="menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem" id="simCardManager-settings" aria-disabled="true" hidden>
            <a id="menuItem-simManager" class="menu-item">
              <span data-l10n-id="simManager"></span>
              <small id="simmanager-desc" class="menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem" id="call-settings" aria-disabled="true">
            <a id="menuItem-callSettings" class="menu-item">
              <span data-l10n-id="callSettings"></span>
              <small id="call-desc" class="menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem" id="volte-settings" hidden>
            <a class="menu-item" href="#volte-vowifi">
              <span data-l10n-id="volte-only-header"></span>
            </a>
          </li>
          <li role="menuitem" id="messaging-settings" hidden="">
            <a id="menuItem-messagingSettings" class="menu-item" href="#messaging">
              <span data-l10n-id="messagingSettings"></span>
              <small id="messaging-desc" class="menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem" id="internet-sharing" aria-disabled="true" hidden>
            <a id="menuItem-internetSharing" class="menu-item" href="#hotspot">
              <span data-l10n-id="internetSharing"></span>
              <small id="internetSharing-desc" class="menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem" id="emergency-alert-menu">
            <a id="emergency-alert" class="menu-item" href="#emergency-alert">
              <span data-l10n-id="emergencyAlert"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="content hidden">
        <header>
          <h2 role="heading" data-l10n-id="personalization"></h2>
        </header>
        <ul role="menu">
          <li role="menuitem">
            <a id="menuItem-sound" class="menu-item" href="#sound" data-l10n-id="sound"></a>
          </li>
          <li role="menuitem">
            <a id="menuItem-display" class="menu-item" href="#display" data-l10n-id="display"></a>
          </li>
          <li role="menuitem">
            <a id="menuItem-search" class="menu-item" href="#search" data-l10n-id="search"></a>
          </li>
          <li role="menuitem">
            <a id="menuItem-notifications" class="menu-item" href="#notifications" data-l10n-id="notifications"></a>
          </li>
          <li role="menuitem">
            <a id="menuItem-dateAndTime" class="menu-item" href="#dateTime">
              <span data-l10n-id="dateAndTime"></span>
              <small id="time-desc" class="menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem">
            <a class="menuItem-languageAndRegion menu-item" href="#languages">
              <span data-l10n-id="language"></span>
              <small class="language-desc menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem">
            <a id="menuItem-input-methods" class="menu-item" href="#input-methods">
              <span data-l10n-id="input-methods"></span>
              <small id="input-methods-desc" class="menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem" id="answer-mode-settings" hidden>
            <a class="menu-item" href="#answer-mode">
              <span data-l10n-id="answerMode"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="content hidden">
        <header>
          <h2 role="heading" data-l10n-id="privacyAndSecurity"></h2>
        </header>
        <ul role="menu">
          <li role="menuitem">
            <a id="menuItem-screenLock" class="menu-item" href="#screenLock">
              <span data-l10n-id="screenLock"></span>
            </a>
          </li>
          <li role="menuitem" id="simSecurity-settings">
            <a id="menuItem-simSecurity" class="menu-item" href="#simpin">
              <span data-l10n-id="simSecurity"></span>
            </a>
          </li>
          <li role="menuitem">
            <a id="menuItem-appPermissions" class="menu-item" href="#appPermissions">
              <span data-l10n-id="appPermissions"></span>
            </a>
          </li>
          <li role="menuitem">
            <a id="menuItem-doNotTrack" class="menu-item" href="#doNotTrack">
              <span data-l10n-id="doNotTrack"></span>
              <small id="doNotTrack-desc" class="menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem">
            <a class="menu-item" href="#browsingPrivacy">
              <span data-l10n-id="browsingPrivacy"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="content hidden">
        <header>
          <h2 role="heading" data-l10n-id="storage"></h2>
        </header>
        <ul role="menu">
          <li role="menuitem">
            <a id="menuItem-usbStorage" class="menu-item" href="#usbStorage">
              <span class="menu-item" data-l10n-id="enableUSBStorage1"></span>
              <small class="usb-desc menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem" class="media-storage-section">
            <a id="menuItem-mediaStorage" class="menu-item" href="#mediaStorage">
              <span data-l10n-id="mediaStorage"></span>
              <small class="media-storage-desc menu-item-desc"></small>
            </a>
          </li>
          <li role="menuitem">
            <a id="menuItem-applicationStorage" class="menu-item" href="#applicationStorage">
              <span data-l10n-id="appStorage"></span>
              <small class="application-storage-desc menu-item-desc"></small>
            </a>
          </li>
        </ul>
      </div>

      <div class="content hidden">
        <header>
          <h2 role="heading" data-l10n-id="device"></h2>
        </header>
        <ul role="menu">
          <li role="menuitem">
            <a id="menuItem-deviceInfo" class="menu-item" href="#about">
              <span data-l10n-id="deviceInfo"></span>
            </a>
          </li>
          <li role="menuitem">
            <a id="menuItem-downloads" class="menu-item" href="#downloads">
              <span data-l10n-id="downloads"></span>
            </a>
          </li>
          <li role="menuitem">
            <a class="menuItem-battery menu-item" href="#battery">
              <span data-l10n-id="battery"></span>
              <small class="battery-desc menu-item-desc" hidden=""></small>
            </a>
          </li>
          <li role="menuitem">
            <a id="menuItem-accessibility" class="menu-item" href="#accessibility">
              <span data-l10n-id="accessibility"></span>
            </a>
          </li>
          <li role="menuitem" data-show-name="developer.menu.enabled" hidden="">
            <a id="menuItem-developer" class="menu-item" href="#developer">
              <span data-l10n-id="developer"></span>
            </a>
          </li>
          <li role="menuitem" hidden>
            <a id="menuItem-help" class="menu-item" href="#help">
              <span data-l10n-id="help"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="content hidden">
        <header>
          <h2 data-l10n-id="accounts"></h2>
        </header>
        <ul>
          <li>
            <a id="menuItem-fxa" class="menu-item disabled">
              <span data-l10n-id="fxa-accounts-item"></span>
              <small id="fxa-desc" class="menu-item-desc"></small>
            </a>
          </li>
        </ul>
        <header class="show">
          <h2 data-l10n-id="antitheft-services"></h2>
        </header>
        <ul>
          <li role="menuitem">
            <a id="menuItem-antitheft" class="menu-item disabled">
              <span data-l10n-id="antitheft"></span>
              <small id="antitheft-desc" class="menu-item-desc"></small>
            </a>
          </li>
          <li id="menuItem-antitheft-note1" role="menuitem" class="description hidden">
            <span data-l10n-id="antitheft-note1"></span>
          </li>
          <li id="menuItem-antitheft-note2" role="menuitem" class="description hidden">
            <span data-l10n-id="antitheft-note2"></span>
            <span data-l10n-id="antitheft-note3"></span>
            <span data-l10n-id="antitheft-note4"></span>
          </li>
        </ul>
      </div>

      <div class="hidden">
        <header id="icc-mainheader">
          <h2 role="heading" data-l10n-id="operatorServices"></h2>
        </header>
        <ul role="menu" id="icc-entries">
        </ul>
      </div>
    </div>

    <panel data-path="panels/root/panel"></panel>

  </template>
</element>

