html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: #ffffff;
  overflow: hidden;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: var(--font-p-large);
}

.panel {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -moz-transition: -moz-transform 0.3s ease;
  top: 0;
}

#test-iframe {
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

.hidden {
  display: none;
}
/*****(1)*****/
/*
*body.test .panel
* CSS Nested (descendant) selectors, in this example, take effect when body has class "test"
*/

#result-text {
  margin: 1rem;
  height: calc(70% - 1rem);
  overflow: scroll;
}

#result-text p {
  margin: 0;
  padding: 0 1rem;;
  font-size: var(--font-p-pri);
}

#result-text p.false {
  color: red;
}
