/* 
 * Added for pre-pay/post-pay selection for task 5361532
 * Added by yingsen.zhang@t2mobile.com 20170427
 */
#apn-selection-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#apn-selection-wrapper > p {
  padding: 0 1rem 0 1rem;
}

#apn-selection-list {
  overflow: scroll;
}

#apn-selection-list > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

#apn-selection-list > li > label {
  padding: 0 1rem 0 1rem;
}

#apn-selection-list > li > label > span { 
  line-height: 1;
  color: var(--color-gs90);
  padding: 0 1rem 0 1rem;
  margin-bottom: 0.5rem;
}

#apn-selection-list > li > label > input { 
  position: absolute;
  right: 1em;
}

@media only screen and (orientation: landscape) {
  #apn-selection-wrapper,
  #apn-selection-list {
    height: 100%;
  }
}
