#bluetooth-transfer-status {
  position: relative;
  border-bottom: none;
}

#bluetooth-transfer-status .title-container {
  margin: 1.4rem 0 0 3.7rem;
  line-height: 3rem;
}

#bluetooth-transfer-status progress {
  position: absolute;
  top: 5.6rem;
  left: 0;
  width: 100%;
  height: 0.4rem;
  padding: 0;

  background-color: hsla(255, 100%, 100%, 0.1);
  border: none;
}

#bluetooth-transfer-status progress::-moz-progress-bar {
  background-color: #00caf2;
  transform: skew(-45deg);
  margin-left: -1rem;
}

/* In use? */
#bluetooth-transfer-status.applying .icon {
  background-image: url(images/spinner.png);

  animation: spin 1.75s infinite linear;
  transform-origin: center center;
}

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#dialog-screen{
  margin-top:3rem;
}
